@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 0.25rem;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  border: 1px solid;
  border-radius: 0.25rem;
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  border-radius: 0.25rem;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.divGrid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.paragrafo-resultado {
  text-align: center;
  background-color: #198754;
  border-color: #198754;
  border-radius: 0.25rem;
  padding: 10px 20px;
  color: #fff;
}

.bad {
  text-align: center;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0.25rem;
  padding: 10px 20px;
  color: #fff;
}
